@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
p{
  font-family: "Raleway", sans-serif;
  color: #F0EADA;
}
.data-table-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #242424 !important;
}

.popup-content {
  padding: 0 !important;
}

.deletePopup {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #242424;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.deletePopupContainer-content {
  width: 400px;
}

input:focus {
  background-color: #2E323E !important;
  transition: all 0.15s ease;
}